.NavigationItems {
  /* padding: 0; */
  padding-left: 52%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
